* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #292524;
  color: #fcfff7;
  height: 100%;
}

.introduction {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  z-index: 10;
}

.whole-page {
  display: grid;
  height: 100%;
  grid-template-rows: 100px 1fr;
  row-gap: 40px;
}

.title {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Coiny", sans-serif;
  letter-spacing: 2px;
  overflow: auto;
}

.title h1 {
  color: #fcfff7;
  font-size: 48px;
  margin-top: 18px;
}

.logo-with-name {
  display: flex;
  align-items: start;
  padding: 20px 0;
  gap: 18px;
}

.logo {
  border-radius: 50%;
  padding: 8px;
  background-image: linear-gradient(135deg, #3b82f6, #eab308);
}

.main-content {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.sidebar {
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  font-family: "Coiny", sans-serif;
  height: 100vh;
  overflow: auto;
  gap: 24px;
}

.sidebar h1 {
  letter-spacing: 1.2px;
  text-align: center;
  color: #fcfff7;
  padding: 20px 0;
}

.main-button {
  display: flex;
  flex-direction: column;
}

.all-btn {
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  border-radius: 30px;
  color: #fcfff7;
  font-family: "Coiny", sans-serif;
  font-size: 16px;
  letter-spacing: 1.2px;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
  text-shadow: 2px 2px 8px #000000;
}

.category-button {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.btn {
  border: none;
}

.btn:hover {
  transform: scale(110%) rotate(-2deg);
}

.week-1-btn {
  background-color: #34e7e4;
  border-radius: 30px;
  color: #fcfff7;
  font-family: "Coiny", sans-serif;
  font-size: 16px;
  letter-spacing: 1.2px;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
  text-shadow: 2px 2px 8px #000000;
}

.week-2-btn {
  background-color: #00d8d6;
  border-radius: 30px;
  color: #fcfff7;
  font-family: "Coiny", sans-serif;
  font-size: 16px;
  letter-spacing: 1.2px;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
  text-shadow: 2px 2px 8px #000000;
}

.week-3-btn {
  background-color: #575fcf;
  border-radius: 30px;
  color: #fcfff7;
  font-family: "Coiny", sans-serif;
  font-size: 16px;
  letter-spacing: 1.2px;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
  text-shadow: 2px 2px 8px #000000;
}

.week-4-btn {
  background-color: #3c40c6;
  border-radius: 30px;
  color: #fcfff7;
  font-family: "Coiny", sans-serif;
  font-size: 16px;
  letter-spacing: 1.2px;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
  text-shadow: 2px 2px 8px #000000;
}

.week-5-btn {
  background-color: #ef5777;
  border-radius: 30px;
  color: #fcfff7;
  font-family: "Coiny", sans-serif;
  font-size: 16px;
  letter-spacing: 1.2px;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
  text-shadow: 2px 2px 8px #000000;
}

.week-6-btn {
  background-color: #f53b57;
  border-radius: 30px;
  color: #fcfff7;
  font-family: "Coiny", sans-serif;
  font-size: 16px;
  letter-spacing: 1.2px;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
  text-shadow: 2px 2px 8px #000000;
}

.week-7-btn {
  background-color: #ffdd59;
  border-radius: 30px;
  color: #fcfff7;
  font-family: "Coiny", sans-serif;
  font-size: 16px;
  letter-spacing: 1.2px;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
  text-shadow: 2px 2px 8px #000000;
}

.week-8-btn {
  background-color: #ffd32a;
  border-radius: 30px;
  color: #fcfff7;
  font-family: "Coiny", sans-serif;
  font-size: 16px;
  letter-spacing: 1.2px;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
  text-shadow: 2px 2px 8px #000000;
}

.week-9-btn {
  background-color: #9980fa;
  border-radius: 30px;
  color: #fcfff7;
  font-family: "Coiny", sans-serif;
  font-size: 16px;
  letter-spacing: 1.2px;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
  text-shadow: 2px 2px 8px #000000;
}

.week-10-btn {
  background-color: #5758bb;
  border-radius: 30px;
  color: #fcfff7;
  font-family: "Coiny", sans-serif;
  font-size: 16px;
  letter-spacing: 1.2px;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
  text-shadow: 2px 2px 8px #000000;
}

.week-11-btn {
  background-color: #a3cb38;
  border-radius: 30px;
  color: #fcfff7;
  font-family: "Coiny", sans-serif;
  font-size: 16px;
  letter-spacing: 1.2px;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
  text-shadow: 2px 2px 8px #000000;
}

.week-12-btn {
  background-color: #009432;
  border-radius: 30px;
  color: #fcfff7;
  font-family: "Coiny", sans-serif;
  font-size: 16px;
  letter-spacing: 1.2px;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
  text-shadow: 2px 2px 8px #000000;
}

.week-13-btn {
  background-color: #006266;
  border-radius: 30px;
  color: #fcfff7;
  font-family: "Coiny", sans-serif;
  font-size: 16px;
  letter-spacing: 1.2px;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
  text-shadow: 2px 2px 8px #000000;
}

.week-14-btn {
  background-color: #ed4c67;
  border-radius: 30px;
  color: #fcfff7;
  font-family: "Coiny", sans-serif;
  font-size: 16px;
  letter-spacing: 1.2px;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
  text-shadow: 2px 2px 8px #000000;
}

.week-15-btn {
  background-color: #b53471;
  border-radius: 30px;
  color: #fcfff7;
  font-family: "Coiny", sans-serif;
  font-size: 16px;
  letter-spacing: 1.2px;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
  text-shadow: 2px 2px 8px #000000;
}

.week-16-btn {
  background-color: #833471;
  border-radius: 30px;
  color: #fcfff7;
  font-family: "Coiny", sans-serif;
  font-size: 16px;
  letter-spacing: 1.2px;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
  text-shadow: 2px 2px 8px #000000;
}

.week-17-btn {
  background-color: #4cd137;
  border-radius: 30px;
  color: #fcfff7;
  font-family: "Coiny", sans-serif;
  font-size: 16px;
  letter-spacing: 1.2px;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
  text-shadow: 2px 2px 8px #000000;
}

.content {
  padding: 0 48px 0 48px;
  font-family: "Sono", sans-serif;
}

ul {
  list-style: none;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #44403c;
  margin-bottom: 16px;
  padding: 16px 24px;
  letter-spacing: -1px;
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.tag {
  min-width: fit-content;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Coiny", sans-serif;
  padding: 6px 10px;
  border-radius: 100px;
  letter-spacing: 1.5px;
  text-shadow: 2px 2px 8px #000000;
}

.week-text {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.footer-text {
  margin: 40px 0 20px 0;
  text-align: center;
}
